/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .btn-menu {
        display: block;
        color: #fff;
    }
    .menu > .navigation {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        flex-direction: column;
        background: wheat;
        padding: 0;
    }
    .menu > .navigation > li {
        margin: 0;
    }
    .menu > .navigation > li > a {
        width: 100%;
        display: block;
        padding: 15px 0;
    }
    .menu > .navigation > li > a:hover {
        border: none;
        background-color: antiquewhite;
        color: black;
        height: 100%;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .menu > .navigation {
        display: flex !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}